BOT_TOKEN=
ADMIN_IDS=

BRAND_NAME=ANDREVPN
DATABASE_PATH=data/andrevpn.sqlite3

PAYMENT_PROVIDER_TOKEN=
PAYMENT_CURRENCY=XTR
PAYMENT_TITLE=ANDREVPN
PAYMENT_DESCRIPTION=Продление VPN-подписки ANDREVPN
PLANS=month:1 месяц:60:30,two_months:2 месяца:110:60,quarter:3 месяца:150:90

XUI_BASE_URL=https://panel-l.andreev-it.ru/<panel-secret-path>
XUI_API_TOKEN=
XUI_USERNAME=
XUI_PASSWORD=
XUI_INBOUND_ID=
XUI_PROTOCOL=vless
XUI_CLIENT_FLOW=xtls-rprx-vision
XUI_TOTAL_GB=107374182400
XUI_LIMIT_IP=0

VPN_SUBSCRIPTION_BASE_URL=
VPN_PUBLIC_HOST=panel-l.andreev-it.ru
VLESS_PORT=55804
VLESS_TRANSPORT_TYPE=tcp
REALITY_PUBLIC_KEY=
REALITY_SHORT_ID=
REALITY_PQV=
REALITY_SERVER_NAME=www.google.com
REALITY_FINGERPRINT=chrome
REALITY_SPIDER_X=/
SUPPORT_USERNAME=
